//Copyright (C)2014-2024 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.10 (64-bit)
//Part Number: GW1NR-LV9QN88PC6/I5
//Device: GW1NR-9
//Device Version: C
//Created Time: Fri 07 05 13:18:03 2024

IO_LOC "servo_pwm" C10;
IO_PORT "servo_pwm" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=16 BANK_VCCIO=3.3;

IO_LOC "clk" E2;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;

IO_LOC "reset" H11;
IO_PORT "reset" PULL_MODE=DOWN DRIVE=OFF BANK_VCCIO=3.3;
IO_LOC "sw" H10;
IO_PORT "sw" PULL_MODE=DOWN BANK_VCCIO=3.3;